{% extends 'base.html.twig' %}

{% block title %}ItemsToOptions index{% endblock %}

{% block body %}
    <h1>ItemsToOptions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for items_to_option in items_to_options %}
            <tr>
                <td>{{ items_to_option.id }}</td>
                <td>
                    <a href="{{ path('items_to_options_show', {'id': items_to_option.id}) }}">show</a>
                    <a href="{{ path('items_to_options_edit', {'id': items_to_option.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('items_to_options_new') }}">Create new</a>
{% endblock %}
